<div class="row">
  <div id="left-box" class="col-md-4">
    <h4>Preferências</h4>
    <ul class="list-unstyled">
      <% @preferences.each do |preference| %>
      <li><%= link_to preference.name, preference %></li>
      <% end %>
    </ul>
    <h4>Tipo</h4>
    <ul class="list-unstyled">
      <% @food_types.each do |food_type| %>
      <li><%= link_to food_type.name, food_type %></li>
      <% end %>
    </ul>
    <h4>Cozinha</h4>
    <ul class="list-unstyled">
      <% @cuisines.each do |cuisine| %>
      <li><%= link_to cuisine.name, cuisine %></li>
      <% end %>
    </ul>
  </div>
  <div id="middle-box" class="col-md-4">
    <h3>Últimas receitas</h3>
    <ul class="list-unstyled">
      <% @last_recipes.each do |recipe| %>
      <div class="row">
        <div class="col-md-6">
          <li><%= image_tag(recipe.photo.url, height: '150', width: '150') %></li>
        </div>
        <div class="col-md-6">
          <li><%= link_to recipe.name, recipe %></li>
          <li><%= recipe.preferences.first.name %></li>
          <li><%= recipe.food_types.first.name %></li>
          <li><%= recipe.cuisines.first.name %></li>
          <li><%= recipe.difficulty %></li>
        </div>
      </div>
      <% end %>
    </ul>
  </div>
  <div id="right-box" class="col-md-4">
    <h3>Favoritas dos usuários</h3>
    <ul class="list-unstyled">
      <% @favorite_recipes.each do |recipe| %>
      <div class="row">
        <div class="col-md-6">
          <li><%= image_tag(recipe.photo.url, height: '150', width: '150') %></li>
        </div>
        <div class="col-md-6">
          <li><%= link_to recipe.name, recipe %></li>
          <li><%= recipe.preferences.first.name %></li>
          <li><%= recipe.food_types.first.name %></li>
          <li><%= recipe.cuisines.first.name %></li>
          <li><%= recipe.difficulty %></li>
        </div>
      </div>
      <% end %>
    </ul>
  </div>
</div>
